:root {
    --theme-color: #f8f8f8;
    --primary-color: #00b9aa;
    --secondary-color: #ba3d00;
    --text-color-inverse: #f8f8f8;
    --text-color: #131313;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #087f8c;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
    /* Espaciado del navbar*/
}

a {
    text-decoration: none;
    color: var(--text-color)
}

/*------ Clase para centrar los elementos en global ------*/

.horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 950px) {
    .horizontal-padding {
        padding-left: 70px;
        padding-right: 70px;
    }

    .vertical-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}